body {
  font-family: sans-serif;
}

.sidenav {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 3.7%;
  position:fixed;
  top: 0;
  left: 0;
  padding-top: 3%;
  border-right: grey solid 2px;
  background-color:whitesmoke;
}
.sidenav a:hover {
  color: #c0bcbce2;
}

.sidenav a{
  flex-direction: column;
  padding: 0px 0px 12.5px 0px;
  text-decoration: none;
  font-size: 45px;
  color: #818181;
  display: block;
}

.sidenav-bot {
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-grow: .13;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-photo {
  width: 75%;
  border-radius: 50%;
}

#welcome {
  display:flex;
  padding: 0% 0 1% 90px;
  font-size: 40px;
  color: darkslategrey;
}
#welcome p {
  padding: 2% 0 0 5%;
}

.main {
  display: flex;
  justify-content: left;
  margin-left: 90px;
  width: 100%;
  height: 100%;
  padding: 2% 0 0 4.5%;
}

.chart-headers {
  padding: 0 0 6% 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  color: darkslategrey
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
}

.daily-spending {
  width: 500px;
  height: 385px;
}

#add-expense {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input {
  color: darkslategray;
  width: 20%;
  height: 60%;
  border-radius: 5px;
  border: 1px solid darkslategray;
}

input:focus {
  color: darkslategray;
}

select {
  color:darkslategray;
  width: 28%;
  height: 75%;
  border-radius: 5px;
  border: 1px solid darkslategray;
}

#daily-transactions {
  display: flex;
  flex-direction: column;
}

#daily-table {
  color:darkslategrey;
}
tr:nth-child(even) {
  background-color: #ccd0d85d;
}
td {
  padding: 7px;
  vertical-align: middle;
}

table .amount-col {
  text-align: right;
}
table .item-col {
  width: 30%;
}



#error {
  color: red;
  font-size: 12px;
  padding-left: 2%;
}

button {
  border-radius: 12px;
  background-color: #1463f3;;
  color: white;
  font-weight: 900;
  width: 20%;
  align-self:flex-end;
  padding: .5% .5% .7% .5%;
  margin-left: 5%;
}

.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 0 13%;
}

.monthly-charts {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: auto;
}
.ms-chart {
  width: 40%;
  height: 200px;
  padding: 10% 0 15% 0;
}
.mi-chart {
  width: 40%;
  height: 200px;
  padding: 10% 0 15% 0;

}

#spending-category {
  padding: 0 0 0 0 ;
  width: 500px;
  height: 400px;
}




