body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: url("https://budgit-prod.s3.amazonaws.com/budgit-background.jpg") no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: darkslategray;
  overflow-x: hidden;
}

#container{
  display: flex;
}

.strong {
  font-weight: 900;
}

.page-container {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.sidenav {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 80px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 32px;
  border-right: grey solid 2px;
  background-color: #d3d4d77e;
  z-index: 3;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,1);
}

.sidenav a:hover {
  color: #c0bcbce2;
  cursor: pointer;
}

.sidenav-links a{
  flex-direction: column;
  padding: 0px 0px 12.5px 0px;
  text-decoration: none;
  font-size: 45px;
  color:darkslategray;
  display: block;
}

.sidenav-bot {
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-grow: .2;
}

.social-media {
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: space-around;
  font-size: 23px;
}

.social-media i {
  color: darkslategray;
}

#income-bar {
  display: flex;
  flex-direction: column;
  position:fixed;
  top: 20px;
  left: 65px;
  width: 156.6px;
  z-index: 10;
  background-color: whitesmoke;
  /* margin: 1.0% 0 0 3.5%; */
  /* padding: 1% 0 0 1.25%; */
  padding: 16px;
  overflow-x: hidden;
  border-radius: 7px;
  transition: 1s;
  transform: translateX(10px);
  border: 1.5px solid darkslategray;
  box-shadow: 0 2px 16px rgba(0 0 0 / 22%);
}

.income-bar-top {
  display: flex;
  /* flex-direction: column; */ 
}

#income-input {
  display: inline-block;
  width:80%;
  text-align: end;
  margin-top: 6%;
  font-size: 12px;
  font-weight: 700;
}
#income-label {
  display: flex;
  flex-direction: column;
  color: darkslategray;
  font-size: 14px;
  text-align:left;
  font-weight: 700;
}
#set-income {
  display: block;
  height: 18px;
  width: 100%;
  font-size: 12px;
  margin-top: 12px;
  /* margin: 5px 0 10px 0; */
  /* padding: 3px; */
  padding-bottom: 20px;
  line-height: 24px;
  border: none;
  border-radius: 5px;
  align-self:  center;
  background-color: rgb(75, 192, 192);
  color: white;
  font-weight: 600;
  box-shadow: 2px 2px rgba(0, 0, 0, .3);
  cursor: pointer;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar a{
  display: flex;
  justify-content: center;
  align-items: center;
}


#profile-photo {
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
}

#welcome {
  display:flex;
  padding: 24px 0 48px 60px;
  font-size: 60px;
  color: darkslategray;
  font-weight: 600;
}
#welcome p {
  padding: 2% 0 0 4.8%;
}

.main {
  display: flex;
  justify-content: left;
  margin-left: 60px;
  width: calc(100vw - 60px);
  height: 100%;
  min-width: 1348px;
  max-width: 1830px;
}

.chart-headers {
  padding: 0 0 3% 0;
  font-size: 30px;
  color: darkslategray;
  font-weight: 600;
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* min-width: 500px; */
  width: auto;
}

.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding: 0 0 0 10%; */
  margin-left: calc(20% - 175px);
  width: auto;
}

.daily-spending {
  width: 500px;
  height: 385px;
  z-index: 1;
}

input {
  text-indent:6px;
}

#add-expense {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}

#category {
  height: 34px;
  color:darkslategray;
  width: 28%;
  border-radius: 5px;
  border: 1px solid darkslategray;
  margin-right: 12px;
}

#add-expense>input {
  color: darkslategray;
  width: 20%;
  height: 60%;
  border-radius: 5px;
  border: 1px solid darkslategray;
  margin-right: 12px;
}

#add-expense>input:first-child {
  width: 120px;
}

input:focus {
  color: darkslategray;
}

#amount {
  text-align: end;
  padding-right: 6px;
}

#daily-transactions {
  display: flex;
  flex-direction: column;
  width: 500px;
}

#daily-table {
  color:darkslategray;
  font-size: 14px;
}

.table-headers {
  font-weight: 700;
}

tr:nth-child(even) {
  background-color: #ccd0d839;
}
td {
  padding: 7px;
  vertical-align: middle;
}

table .amount-col {
  text-align: right;
}
table .item-col {
  width: 30%;
}

.del-row {
  text-align: center;
}

table .del-row:hover{
  cursor: pointer;
}

#error {
  color: red;
  font-size: 12px;
  padding-left: 2%;
}

#add-button {
  border-radius: 30px;
  background-color: #1462f3d0;;
  color: white;
  font-weight: 900;
  align-self:flex-end;
  padding: .2% .2% .3% .2%;
  margin-left: 16px;
  cursor: pointer;
  height: 80%;
  width: 20%;
  align-self: center;
  border: none;
  box-shadow: 2px 2px rgba(0, 0, 0, .3);
}

/* right side starts here */

.monthly-charts {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: auto;
  padding-bottom: 3%;
}
.ms-chart {
  width: 40%;
  height: 200px;
  padding: 10% 0 15% 0;
}
.mi-chart {
  width: 40%;
  height: 200px;
  padding: 10% 0 15% 0;

}

#spending-category {
  padding: 0 0 0 0 ;
  width: 500px;
  height: 400px;
}

/* modal prompt setup */
.modal-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.620);
  z-index: 10;
}

/* modal prompt setup */
.modal-inner {
  position: relative;
  width: 500px;
  /* height: 400px; */
  background-color: white;
  padding: 65px 50px 50px 50px;
  border-radius: 10px;
  background-color: rgba(42, 41, 41, 0.88);
  color: white;
  z-index: 30;
}

.modal-content b {
  font-weight: 900;
}

.modal-content {
  line-height: 20px;
  font-size: 18px;
}

.modal-content p {
  line-height: 24px;
}

.modal-content ul{

  padding-left: 15px;
}

.modal-content li {
  list-style:circle;
}

.modal-content i {
  display: inline;

}

.modal-content>p>span {
  font-weight: 700;
}

.close-button {
  position: absolute;
  /* padding: 4px; */
  border-radius: 50%;
  margin: 10px 10px 0 0;
  color: white;
  background-color: transparent;
  top: 0; 
  right: 0;
  aspect-ratio: 1;
  border: none;
  padding: 6px 12px;
  font-size: 15px;
  cursor: pointer;
}

.close-button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, .8);
}

.active {
  display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.detail-category {
  display: none;
  justify-content: left;
  margin-left: 90px;
  width: 100%;
  height: 100%;
  padding: 2% 0 0 4.5%;
}
.detail-day {
  display: none;
  justify-content: left;
  margin-left: 90px;
  width: 100%;
  height: 100%;
  padding: 2% 0 0 4.5%;
}
.savings-page {
  display: none;
  justify-content: left;
  margin-left: 90px;
  width: 100%;
  height: 100%;
  padding: 2% 0 0 4.5%;
}
.recommendations {
  display: none;
  justify-content: left;
  margin-left: 90px;
  width: 100%;
  height: 100%;
  padding: 2% 0 0 4.5%;
}



@media (max-width: 1200px) {
  body {
    overscroll-behavior: contain;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .right-panel {
    margin-left: 0;
  }
}

@media (max-width: 700px) {
  .main {
    margin-left: 12px;
  }
  #welcome {
    padding-top: 32px;
    margin-left: 32px;
    padding-left: 0;
    /* width: 100%; */
    font-size: 35px;
  }
  #container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  .page-container {
    margin-left: 0;
  }
  .sidenav {
    flex-direction: row;
    position: relative;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .sidenav-bot {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .sidenav-links {
    display: flex;
    margin-left: 32px;
  }
  .sidenav-links a {
    margin-right: 32px;
  }
  #profile-photo {
    width: 40px;
  }

  .social-media {
    display: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .chart-headers {
    padding-bottom: 24px;
  }
  .daily-spending {
    width: 94vw;
    height: 70vw;
  }
  #add-expense {
    width: 94vw;
  }
  #add-button {
    margin: 0
  }
  #daily-table {
    margin-bottom: 48px;
    width: 94vw;
  }
  .monthly-charts {
    flex-direction: column;
    width: 85vw;
  }
  .ms-chart {
    width: 100%;
    padding: 0;
  }
  .mi-chart {
    width: 100%;
    padding: 0;
  }
  #spending-category {
    width: 94vw;
  }
  
}

