body {
  font-family: sans-serif;
  background: url("https://img.freepik.com/free-photo/blue-abstract-gradient-wave-wallpaper_53876-108364.jpg?w=2000&t=st=1663804468~exp=1663805068~hmac=81c49a6438d9ec3ed763a164fc24c63ad88c0d6d14fc2185d8ef6eb59fe2aa69") no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: darkslategray;
}

.sidenav {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 3.8%;
  position:fixed;
  top: 0;
  left: 0;
  padding-top: 1%;
  border-right: grey solid 2px;
  background-color: #d3d4d77e;
  z-index: 3;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,1);
}
.sidenav a:hover {
  color: #c0bcbce2;
}

.sidenav-links a{
  flex-direction: column;
  padding: 0px 0px 12.5px 0px;
  text-decoration: none;
  font-size: 45px;
  /* color: #818181; */
  color:darkslategray;
  display: block;
}

.sidenav-bot {
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-grow: .2;
}

.social-media {
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: space-around;
  font-size: 19px;
}

.social-media i {
  color: darkslategray;
}

#income-bar {
  display: block;
  position:fixed;
  top: 0;
  left: 0;
  width: 7.4%;
  z-index: 2;
  background-color: whitesmoke;
  margin: 1.0% 0 0 3.5%;
  padding: 1% 0 0 1.25%;
  overflow-x: hidden;
  border-radius: 7px;
  transition: 1s;
  transform: translateX(10px);
  border: 1.5px solid darkslategray;
}

#income-input {
  display: inline-block;
  width:65%;
  text-align: end;
  margin-top: 5%;
  font-size: 12px;
  font-weight: 900;
}
#income-label {
  display: inline-block;
  color: darkslategray;
  font-size: 12px;
  text-align:left;
  font-weight: 900;
}
#set-income {
  display: block;
  height: 18px;
  width: 88.5%;
  font-size: 11px;
  margin: 5px 0 10px 0;
  border-radius: 5px;
  align-items:  center;
  background-color: rgb(75, 192, 192);
  color: white;
  font-weight: 900;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-photo {
  width: 75%;
  border-radius: 50%;
}

#welcome {
  display:flex;
  padding: 1% 0 0 90px;
  font-size: 60px;
  color: darkslategray;
  /* font-weight: 500; */
}
#welcome p {
  padding: 2% 0 0 4.8%;
}

.main {
  display: flex;
  justify-content: left;
  margin-left: 90px;
  width: 100%;
  height: 100%;
  padding: 2% 0 0 4.5%;
}

.chart-headers {
  padding: 0 0 3% 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  color: darkslategray
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
}

.daily-spending {
  width: 500px;
  height: 385px;
  z-index: 1;
}

#add-expense {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input {
  color: darkslategray;
  width: 20%;
  height: 60%;
  border-radius: 5px;
  border: 1px solid darkslategray;
}

input:focus {
  color: darkslategray;
}

select {
  color:darkslategray;
  width: 28%;
  height: 75%;
  border-radius: 5px;
  border: 1px solid darkslategray;
}

#amount {
  text-align: end;
}

#daily-transactions {
  display: flex;
  flex-direction: column;
}

#daily-table {
  color:darkslategray;
  font-size: 14px;
}
tr:nth-child(even) {
  background-color: #ccd0d839;
}
td {
  padding: 7px;
  vertical-align: middle;
}

table .amount-col {
  text-align: right;
}
table .item-col {
  width: 30%;
}

table .del-row:hover{
  cursor: pointer;
}

#error {
  color: red;
  font-size: 12px;
  padding-left: 2%;
}

#add-button {
  border-radius: 12px;
  background-color: #1462f3d0;;
  color: white;
  font-weight: 900;
  width: 14%;
  align-self:flex-end;
  padding: .2% .2% .3% .2%;
  margin-left: 5%;
  cursor: pointer;
}

.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 0 10%;
}

.monthly-charts {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: auto;
}
.ms-chart {
  width: 40%;
  height: 200px;
  padding: 10% 0 15% 0;
}
.mi-chart {
  width: 40%;
  height: 200px;
  padding: 10% 0 15% 0;

}

#spending-category {
  padding: 0 0 0 0 ;
  width: 500px;
  height: 400px;
}

/* modal prompt setup */
.modal-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.620);
}

/* modal prompt setup */
.modal-inner {
  position: relative;
  width: 500px;
  height: 400px;
  background-color: white;
  padding: 65px 50px 50px 50px;
  border-radius: 10px;
  background-color: rgba(42, 41, 41, 0.88);
  color: white;
  z-index: 30;
}

.modal-content b {
  font-weight: 900;
}

.modal-content {
  line-height: 20px;
  font-size: 18px;
}

.modal-content p {
  line-height: 24px;
}

.modal-content ul{

  padding-left: 15px;
}

.modal-content li {
  list-style:circle;
}

.modal-content i {
  display: inline;

}

.close-button {
  position: absolute;
  border-radius: 15px;
  margin: 10px 10px 0 0;
  color: white;
  background-color: rgba(42, 41, 41, 0.3);
  top: 0; 
  right: 0;
}

.active {
  display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}